@import '../../styles/values.scss';
.zbLoader {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeOut 1.5s forwards;
    animation-delay: 3.5s;
    background-color: $midgray;

    h1 {
        font-weight: 800;
        font-size: 8rem;
        position: relative;
        span {
            font-size: inherit !important;
            position: relative;
            display: inline-block;
            font-size: 40px;
            color: $whitesub;
            text-transform: uppercase;
            animation: flip 1.5s forwards;
            animation-delay: calc(.2s * var(--i))
        }
    }
}

@keyframes flip {
    0%,80% {
        transform: rotateY(360deg) 
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}